<ul id="menus">
  <li class="top">
    <a href="/index.html" id="home" class="tl">{% include active-menu.html content="home" %}Home</span></a>  
    <!--class ts is active tl is inactive -->
    <li class="top">
      <a id="play" class="tl" href="/updates/">{% include active-menu.html content="updates" %}Links</span></a>
    </li>
  </li>
  <li class="top">
    <a id="guide" class="tl" href="/site/game_guide/aboutGOLD.html">{% include active-menu.html content="guide" %}Whitepaper</span></a>
  </li>
  <li class="top">
    <a id="community" class="tl" href="https://tenor.com/search/runescape-gifs">{% include active-menu.html content="community" %}Memes</span></a>  
  </li>

  <li class="top">
    <a id="help" class="tl" href="/site/how_to_buy/">{% include active-menu.html content="help" %}How to Buy</span></a>
  </li>
</ul>
<br class="clear" />